	<!-- custom js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	{% for js_name in page.extra_js %}
    <script src="/public/js/{{ js_name }}"></script>
    {% endfor %}

    <script>
        $( document ).ready(function() {            
            // Pass some parameters
            $('.js-lazyYT').lazyYT({
              loading_text: 'Loading ...',
              display_duration: true,
              default_ratio: '16:9'
            });
        });
    </script>